alembic==1.7.5
attrs==21.4.0
greenlet==1.1.2
importlib-metadata==4.10.1
importlib-resources==5.4.0
iniconfig==1.1.1
Mako==1.1.6
MarkupSafe==2.0.1
packaging==21.3
pluggy==1.0.0
PostgreSQL-Audit==0.13.0
py==1.11.0
pyparsing==3.0.7
pytest==6.2.5
six==1.16.0
SQLAlchemy==1.4.29
SQLAlchemy-Utils==0.38.2
toml==0.10.2
zipp==3.7.0
